<a name="top">&nbsp;</a>
<h1 style="margin-left: 20px;">About Seeing the Roses</h1>

<ol>
<li style="margin-top: 10px;"><a href="#faq1">Who created <em>Seeing the Roses</em>?</a></li>
<li style="margin-top: 10px;"><a href="#faq2">What is your connection to Buddhism?</a></li>
<li style="margin-top: 10px;"><a href="#faq3">Why is it called <em>Seeing the Roses</em>?</a></li>
<li style="margin-top: 10px;"><a href="#faq5">How can I contact <em>Seeing the Roses</em>?</a></li>
<li style="margin-top: 10px;"><a href="#faq6">How can I become part of a secular group that practices loving-kindness and mindfulness?</a></li>
<li style="margin-top: 10px;"><a href="#faq7">What are the differences between the practices of loving-kindness, mindfulness and meditation?</a></li>
<li style="margin-top: 10px;"><a href="#faq_green">What does this have to do with the environment?</a></li>
</ol>



<!-- =============================================================================================== -->

<p>
&nbsp;
</p>

<ol>



<!-- =============================================================================================== -->

<li>
<b><a name="faq1">Who created <em>Seeing the Roses</em>?</a></b>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<p>
The <em>Seeing the Roses</em> was created by <a href="http://www.thenewhumanism.org/authors/rick-heller">Rick Heller</a>, 
the co-founder of the Humanist Mindfulness Group, which is sponsored by the <a href="http://harvardhumanist.org/">Humanist Community Project at Harvard</a>.
</p>

</li>
<!-- =============================================================================================== -->


<li>

<b><a name="faq2">What is your connection to Buddhism?</a></b>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<p> 
We are influenced by Buddhism, but not Buddhist in a religious sense. We are affiliated with the <a href="http://secularbuddhism.org/">Secular Buddhist Association</a>.
We don't take <em>anything</em> in Buddhism on faith, certainly not rebirth,
and not even assertions that are compatible with naturalism, like the view that one should love everyone without exception.  
We apply critical thinking and the filter of reason to everything.
</p>
</li>

<!-- =============================================================================================== -->

<li>
<b><a name="faq3">Why is it called <em>Seeing the Roses</em>?</a></b>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<p>
Rick led a meditation on Valentine's Day for a friend of his wife's who had received roses on that day. 
At the conclusion of the meditation, she opened her eyes and her gaze fell upon the roses. She remarked
on how much more vivid they seemed to be after the meditation. As she had become mindful, her senses
were temporarily amplified and she had seen the roses in a new way. 
</p>
<p>
The common expression "stop and smell the roses," is really a reminder to be mindful.
</p>

</li>


<!-- =============================================================================================== -->



<!-- =============================================================================================== -->

<li>
<b><a name="faq5">How can I contact <em>Seeing the Roses</em>?</a></b>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<p>
Email: seeingtheroses at gmail dot com. 
</p>
</li>

<!-- =============================================================================================== -->

<li>
<b><a name="faq6">How can I become part of a secular group that practices loving-kindness and mindfulness?</a></b>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<p>
The Humanist Mindfulness Group meets at the Humanist Center in Harvard Square, Cambridge, Mass. 
To find the time of our next meeting, you can join our Facebook group, <a href="http://www.facebook.com/groups/207307035531/">Humanist Mindfulness Group</a> or 
view our meetup.com group, <a href="http://www.meetup.com/Cambridge-Secular-Buddhists/">Cambridge-Somerville Secular Buddhists</a>.
Other secular pratice groups can be found through the Secular Buddhist Associations listing of <a href="http://secularbuddhism.org/practice-centers/">practice centers</a>.
</p>
</li>


<!-- =============================================================================================== -->


<li>
<b><a name="faq7">What are the differences between the practices of loving-kindness, mindfulness and meditation?</a></b>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<p> 
Loving-kindness is the feeling of love in a non-romantic or non-sexual sense. 
It is associated with a circuit in the brain that produces a chemical called oxytocin.
Non-romantic love is the feeling a parent has for a child, or that people sometimes have for their fellow citizens or for all of humanity.
Romantic love also involves this oxytocin circuit, but includes the extra element of sexual attraction. 
</p> 

<p> 
Mindfulness is the practice of paying attention to what ever is going on in the present moment, with an attitude that is at least
neutral if not benevolent, friendly and loving. Mindfulness is something that you can do at every waking moment. It is perhaps
easiest to be mindful when you are either sitting quietly or engaging in simple manual labor (like washing dishes, raking, etc.). But 
you can be mindful even while engaged in thought, by being <em>aware that you are thinking</em> at this very moment.
</p> 


<p> 
Sometimes the words "mindfulness meditation" are used together, which can be a little confusing. 
We use the word "meditation" to refer to a formal practice, such as sitting quietly for 20 minutes while paying attention to the breath. 
We use "mindfulness" to refer to the practice of paying attention to what is going at at present at any moment throughout the day.
</p>
<p>
Meditation is a good way to prepare to become mindful. Meditation 
quiets the inner dialogue that pulls one out of the present and into ruminations about the past or anxieties about the future.
Therefore, at the conclusion of a meditation, one typically emerges in a mindful state that is naturally focused on the present
with acceptance and equanimity.
</p>

</li>


<li>

<b><a name="faq_green">What does this have to do with the environment?</a></b>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<p> 

<em>Seeing the Roses</em> teaches the practices of loving-kindness and mindfulness.
<em>Seeing the Roses/Green</em> contains additional videos that show how these practices can help us be more mindful consumers, and have a lighter impact on the environment.
</p>
</li>

<!-- =============================================================================================== -->


</ol>

