  <div id="logo">
    <span>Seeing </span>
    	<!-- wraps link to home page around the image -->
    	<%= link_to_unless_current image_tag("logo.gif", :alt => "Seeing the Roses", :title => "Return to Home Page" ), home_path %>
    <span> the Roses</span>
  </div>

  <div class="slogan">
    <p>
    <a href="/" class="button-float-left">Home</a>
    <a href="/green" class="button-float-left">Green</a>
    <a href="/explanations" class="button-float-left">About</a>
    <a href="http://www.humanistmindfulness.org" class="button-float-left">Blog</a>

    A nonreligious path of loving-kindness and mindfulness
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="SeeingtheRoses">Tweet</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <a href="http://www.twitter.com/SeeingtheRoses" class="follow-button"><img src="http://twitter-badges.s3.amazonaws.com/t_mini-a.png" alt="Follow SeeingtheRoses on Twitter"/></a>
    </p>
  </div>

