<h1>Edit a Page
</h1>



<div class="form">


<fieldset>


<legend>Edit Page Details </legend>


<%= form_for :page, :url => { :action => "update", :id => @page.id }, :method => :put do |f| %>
   <%= render :partial => 'form' , :object => f %>
  <%= f.submit  "Update", :class => "submit"%>
  <%= link_to "cancel", { :action => "show", :id => @page.id }, :class => "cancel"  %> 
<% end %>



</fieldset>

</div>

