<h1>Enter a New Page
</h1>

<div class="form">



 <%= form_for :page,  :url => { :action => "create" } do |form|  %>

<%= render :partial => 'form' , :object => form    %>

  <%= submit_tag "Submit", :class => "submit" %> &nbsp;

  <% end %>


</div>

